
   /* Color + Font Variables */
:root {
    --crimson: #901b22;
    --yellowgreen: #a3bf50;
    --flagred: #c2242d;
    --white: #ffffff;
    --palm: #778b3b;
}


   /* Base Styles */

body {
    margin: 0;
    font-family: "Inter", sans-serif;
    background: #fdfaf7;
    color: #333;
}

.center-tt {
    max-width: 800px;
    margin: auto;
    text-align: center;
}


   /* Header */

header {
    background: var(--crimson);
    padding: 1rem 2rem;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

header h1 {
    font-family: "Merriweather", serif;
    margin: 0;
    font-size: 1.5rem;
}

nav a {
    color: var(--white);
    margin: 0 1rem;
    text-decoration: none;
    font-weight: 600;
}

nav a:hover {
    text-decoration: underline;
}

   /* Hero Section */
.hero {
    background: url("https://images.unsplash.com/photo-1543589077-47d81606c1bf?q=80") center/cover;
    text-align: center;
    padding: 6rem 1rem;
    color: white;
}

.hero h2 {
    font-size: 3rem;
    font-family: "Merriweather", serif;
    text-shadow: 0 2px 10px black;
}

.hero p {
    font-size: 1.2rem;
    margin-top: 1rem;
    text-shadow: 0 2px 10px black;
}


   /* Buttons */

.btn {
    background: var(--yellowgreen);
    padding: 0.8rem 1.5rem;
    display: inline-block;
    border-radius: 10px;
    margin-top: 1.5rem;
    font-weight: bold;
    color: white;
    text-decoration: none;
}

.btn:hover {
    background: var(--palm);
}


   /* Section Wrapper */

.section {
    padding: 3rem 8%;
}

.section h3 {
    text-align: center;
    font-family: "Merriweather", serif;
    margin-bottom: 2rem;
    font-size: 2rem;
    color: var(--crimson);
}


   /* Cards / Grid */

.features-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 2rem;
}

.card {
    background: var(--white);
    padding: 1.5rem;
   
    border-radius: 15px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}

.card img {
    width: 100%;
    border-radius: 10px;
}

.card h4 {
    margin: 1rem 0 0.5rem;
    font-family: "Merriweather", serif;
}


   /* Media Section */

.media-section {
    text-align: center;
}


   /* Footer */

footer {
    background: var(--crimson);
    padding: 2rem;
    text-align: center;
    color: white;
    margin-top: 3rem;
}

.footerP {
    font-family: "Merriweather", serif;
    font-size: xx-large;
}


   

@media (max-width: 600px) {
    header {
        text-align: center;
    }
    nav {
        width: 100%;
        margin-top: 1rem;
    }
    nav a {
        display: inline-block;
        margin: 0.5rem;
    }
    .hero h2 {
        font-size: 2.2rem;
    }
}
